body{
    background-color: rgba(0, 0, 0, 0.5);
}

.content_wraper{
    display: flex;
    flex-direction: column;
}

.privacy_policy, .impressum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin: 80px 32px;
    min-height: calc(100vh - (64px + 64px));
}

.loading_screen{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin: 80px 32px;
    min-height: calc(100vh - (64px + 64px));
    cursor: wait;
}

header{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    position: fixed;
    top: 0;
    background-color: rgb(50, 50, 50);
}

.header_logo{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.header_logo img{
    height: 80%;
}

.searching_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.input_search{
    height: 32px;
    width: 250px;
    color: #112A2C;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
}

.img_search{
    height: 32px;
    cursor: pointer;
}

.img_search:hover{
    filter: drop-shadow(2px 4px 6px white);
}

footer{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(50, 50, 50);
}

.links{
    display: flex;
    gap: 8px;
}

.pokemon_name{
    text-transform: capitalize;
}

.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 80px;
    margin-inline: 32px;
    min-height: calc(100vh - (64px + 64px));
}

.pokecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 200px;
    border-radius: 8px;
}

.pokecard_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    width: calc(100% - 12px);
    margin-top: 4px;
    margin-left: 12px;
    gap: 24px;
}

.pokecard_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
}

.pokecard_img img{
    height: 80%;
    width: 80%;
    cursor: pointer;
}

.pokecard_img img:hover{
    height: 90%;
    width: 90%;
    filter: drop-shadow(2px 4px 6px black);
}

.pokecard_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 40px;
    width: 100%;
    margin-bottom: 4px;
}

.pokecard_footer img{
    height: 80%;
}

.btn_section{
    width: 100%;
    margin-top: 16px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_load_more{
    color: white;
    height: 40px;
    width: 100px;
    background-color: #112A2C;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.btn_load_more:hover{
    background-color: #112a2ce3;
}

.btn_disabled{
    background-color: #112a2ce3;
}