body{
    background-color: rgba(0, 0, 0, 0.5);
}

header{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

footer{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.links{
    display: flex;
    gap: 8px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin: 96px 32px;
    min-height: calc(100vh - (64px + 64px));
}

.pokecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 200px;
    border-radius: 8px;
}

.pokecard_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    width: calc(100% - 12px);
    margin-top: 4px;
    margin-left: 12px;
    gap: 24px;
}

.pokecard_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
}

.pokecard_img img{
    height: 80%;
    width: 80%;
    cursor: pointer;
}

.pokecard_img img:hover{
    height: 90%;
    width: 90%;
    filter: drop-shadow(2px 4px 6px black);
}

.pokecard_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 40px;
    width: 100%;
    margin-bottom: 4px;
}

.pokecard_footer img{
    height: 80%;
}

.single_element {
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single_element img {
    height: 156px;
    width: 156px;
    border-radius: 12px;
    object-fit: cover;
    border: 3px solid rgba(0, 0, 0, 0.92);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.500);
    cursor: pointer;
}

.singleOverlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 500px;
    background-color: #112A2C;
    padding: 24px;
    border-radius: 24px;
    cursor: default;
}

.singleOverlay h2 {
    color: white;
    font-size: 20px;
}

.singleOverlay img {
    height: 400px;
    width: 400px;
    border-radius: 12px;
    object-fit: cover;
}

.img_border {
    border-color: #296266 !important;
}

.control_buttons_overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.control_buttons_overlay button {
    background-color: #8D4D3F;
    cursor: pointer;
    border: 0;
    border-radius: 16px;
    height: 32px;
    width: 32px;
}

.control_buttons_overlay button:hover {
    background-color: #9B5546;
    color: black;
}

#previous_button {
    margin-left: 112px;
}

#next_button {
    margin-right: 112px;
}

.current_count {
    font-size: 20px;
}