body{
    background-color: rgba(0, 0, 0, 0.5);
}

header{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

footer{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.links{
    display: flex;
    gap: 8px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin: 96px 32px;
    min-height: calc(100vh - (64px + 64px));
}

.pokecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    border-radius: 8px;
}

.pokecard_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    width: calc(100% - 12px);
    margin-top: 4px;
    margin-left: 12px;
    gap: 24px;
}

.pokecard_img{
    width: 100%;
    flex-grow: 1;
}

.pokecard_footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    height: 32px;
    width: 100%;
}