.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.500);
    cursor: pointer;
}

.singleOverlay {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 500px;
    background-color: #112A2C;
    padding: 24px;
    border-radius: 24px;
    cursor: default;
}

.singleOverlay h2 {
    color: white;
    font-size: 20px;
}

.overlay_img_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.overlay_types{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.overlay_types img{
    height: 32px;
}

.overlay_img {
    height: 190px;
    margin: 12px;
}

.overlay_stats{
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.overlay_links{
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
    width: 100%;
    font-size: 20px;
}

.selected{
    border-bottom: solid 3px wheat;
}

tr td:first-child {
    padding-right: 20px;
}

.evolution{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evolution img{
    width: 20%;
}

.control_buttons_overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.control_buttons_overlay button {
    background-color: #8D4D3F;
    cursor: pointer;
    border: 0;
    border-radius: 16px;
    height: 32px;
    width: 32px;
}

.control_buttons_overlay button:hover {
    background-color: #9B5546;
    color: black;
}

#previous_button {
    margin-left: 112px;
}

#next_button {
    margin-right: 112px;
}

.current_count {
    font-size: 20px;
}